html{
    background-color:#163c7a;
}

body{
    height: 100%;
    background-color:rgb(245, 245, 245);
}


#header {
    margin-left:19%;
    top: 0px;
    width: 80%;
    height: 15%;
    position: fixed;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 1.6em;
    color: #D2D8F3;
    z-index: 15;
    text-transform: uppercase;
    background-color: #163c7a; /*#101c4d;*/
    border-bottom: 2px solid hsl(200, 69.4%, 28.2%);
    padding-top:20px;
    text-align:center;
}

#footer {
    margin-left:20%;
    left: 0px;
    bottom: 0px;
    width: 80%;
    height: 15px;
    position: fixed;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    background-color: #272727;
    padding-top:2px;   
    text-align:center;
}


#sidemenu {
    width: 20%;
    background-color:#101C4D;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 0px;
    margin-top:
}

#sidemenu #menu {
    color: #fff;
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
}

#sidemenu #menu li {
    width: 190px;
    height: 35px;
    font-size: 0.8em;
    padding-right:5px;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active{
    border-left: 5px solid hsl(180,70%,55%);
}

#sidemenu #menu li:hover {
    background-color: #635555;
    border-left: 5px solid hsl(180,70%,55%);
}

.logo{
    /*float:left;*/
    width: 150px;
    height: 68px;
    padding: 10px;
}

#site-content {
    width: 78%;
    height: 70%;
    overflow-y: scroll;
    float: left;
    z-index: 20;
    position: fixed;
    /* min-height: 600px; */
    margin-top:10%;
    margin-bottom:10%;
    margin-left:20%;
    padding-left:10px;
}

.square {
        float: left;
        margin: 5px;
        padding: 15px;
        width: 95%;
        /* max-width: 300px; */
        max-width: 100%;
        /* height: 300px; */
        border: 1px solid black;
    }
